# AND Operator Confusion Statement -

### Suppose we have 2 variables

In [1]:
a = 1
b = True
# lets print the and operation 
print(a and b)
print(b and a)

True
1

Remember this is not about numbers 

This is what about Python evaluates 'and' operator


**As we have learned that and operator return true if both the statements are true.**

* Here Both the statements are true because a is not null, non 0, non empty string and b is true

* But in here in (a and b) return true and in (b and a) returns 1 but Why? AND must return true or 1 in both the conditions.

* **Answer-** Yes, it must return true or 1 in both the condition *But* AND takes one true and one false. 
    
    *       In python, and does not return true or false
    
    *       It actually returns one of the operand.
    
    *          When encountering 1 in (a and b) it return 1 as true the truthy part so the answer is true

*          When encountering true in (b and a) it return true as the truthy part because non empty or zero value so, answer is 1


#### **Question** - Both the variables (operands) are non zero, empty and false. But why does it return 1 and true in (a and b) and (b and a). Why?

#### **Answer-** In python and operator evaluates the operand checks the value is non zero, empty or false then return true (truthy part)

* In here a is truthy part -> b (to evaluate) 

* In here b is truthy part -> a (to evaluate)

* Here whether the value is true or false it evaluetes the data, If a is falsy part then it return output as a because its falsy part (false output)

* When a is truthy return b to evaluate if b is falsy return b (false output)

* When a and b both are truthy part then return the last evaluated truthy part as b

In [2]:
# lets check in here
print("1" and 1 and 0) # return 0 
print("1" and 0 and True) # return 0 
print(" " and "Arman" and 534) # return 534 because " " space, "" empty
print("" and "Arman" and 534) # return false/nothing(space)

0
0
534

#### Moral - If first or any middle value/operand is falsy then return false if not return the last value/operand.

It dones not work on true or false

It does not convert operands to boolean

It simply return one operand


### Why 1 and True behave interstingly?

In [2]:
1 == True # true
# True finally evaluates as 1 so the values are equal

True

In [4]:
1 is True # false
# Here values are same but they different objects (their ids are different)

False